In [82]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [83]:
df = pd.read_csv("/home/sophie/Data_science/Shryne_project/Shryne/data/SELECT_ALL_FROM_all_messages_metadata.csv", 
                 header = 0)

In [84]:
print list(df)

['Unnamed: 0', 'user_id', 'contact_id', 'relationship', 'channel', 'sent_at']

In [12]:
print df['channel'].unique()

['gmail' 'text_message' 'facebook_message' 'hangout']

In [4]:
# How many messages altogether
print len(df)

1070395

In [5]:
# dropping columns not useful for determining the count of each type of relationship
df = df.drop(['Unnamed: 0', 'sent_at', 'user_id'], axis = 1)

In [6]:
print df[0:10]

   contact_id relationship channel
0          35           Ex   gmail
1          35           Ex   gmail
2          35           Ex   gmail
3          35           Ex   gmail
4          35           Ex   gmail
5          35           Ex   gmail
6          35           Ex   gmail
7          35           Ex   gmail
8          35           Ex   gmail
9          35           Ex   gmail

In [7]:
# how many distinct relationships are there?
len(df['contact_id'].unique())

826

In [8]:
relationships = df['relationship'].unique()

In [9]:
print relationships

['Ex' 'Friend' 'Partner' 'Family' 'General']

In [10]:
Ex = df['contact_id'][df['relationship'] == relationships[0]].unique()
Friend = df['contact_id'][df['relationship'] == relationships[1]].unique()
Partner = df['contact_id'][df['relationship'] == relationships[2]].unique()
Family = df['contact_id'][df['relationship'] == relationships[3]].unique()
General = df['contact_id'][df['relationship'] == relationships[4]].unique()

In [11]:
print len(Ex)
print len(Friend)
print len(Partner)
print len(Family)
print len(General)

180
245
247
98
56

In [81]:
print 100-1710648.0/5967250.0*100

71.3327244543

In [17]:
# number of messages per category.
Ex = df['contact_id'][df['relationship'] == relationships[0]]
Friend = df['contact_id'][df['relationship'] == relationships[1]]
Partner = df['contact_id'][df['relationship'] == relationships[2]]
Family = df['contact_id'][df['relationship'] == relationships[3]]
General = df['contact_id'][df['relationship'] == relationships[4]]

In [18]:
# Number of messages 
print len(Ex)
print len(Friend)
print len(Partner)
print len(Family)
print len(General)

324366
218682
487284
30723
9340

In [75]:
# no of relationships with no of messages > 100
# number of messages per category.
group = df.groupby(['relationship', 'contact_id'])

#print group.get_group('contact_id')[group['contact_id'].count() > 100]
#messages_gt100 = group.agg(['count'])

In [73]:
b = group.reset_index

AttributeError: Cannot access callable attribute 'reset_index' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [47]:
def meanf(x):
    if x.count() > 10:
        return x.mean()
    #else:
       # return x[:]==0

def sdf(x):
    if x.count() > 10:
        return x.std()
    #else:
       # return x[:]==0    

wind_group[0:3]        

messages_gt100 = group.agg([meanf,sdf])

KeyError: 'Columns not found: False, True'

In [31]:
relationships_100messages = []
for name, group in df.groupby(['relationship', 'contact_id']):
    print
        #relationships_100messages.append(name)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [24]:
b = group.count()[group.count() > 100]

In [27]:
print b

                         channel
relationship contact_id
Ex           35              NaN
             98              NaN
             99            340.0
             219           184.0
             320             NaN
             3201          131.0
             3211            NaN
             3247          462.0
             3374            NaN
             3502          169.0
             3503         1719.0
             3661        20956.0
             3683            NaN
             3797          581.0
             3866            NaN
             3895         3027.0
             4101          689.0
             4382            NaN
             4432            NaN
             4443         1455.0
             4516            NaN
             4666            NaN
             4790            NaN
             4883          134.0
             5371          190.0
             5383         1530.0
             5427            NaN
             5486        12477.0
             5625            NaN
             5668            NaN
...                          ...
Partner      29301           NaN
             29321         266.0
             29832        2230.0
             30053         109.0
             30194       37758.0
             30646           NaN
             30731           NaN
             30853         197.0
             30993           NaN
             30995           NaN
             31180        3611.0
             31296        8917.0
             31332       12701.0
             31810           NaN
             32177         447.0
             32200         413.0
             32391           NaN
             32458           NaN
             32475           NaN
             32658         427.0
             32922        1084.0
             33008         172.0
             33035           NaN
             33067           NaN
             33070         362.0
             33089           NaN
             33103           NaN
             33110           NaN
             33119        1025.0
             33157           NaN

[826 rows x 1 columns]

In [76]:
# There are no contacts with -1 id which means no group chat in feed_items
df[df['contact_id'] == -1]

Empty DataFrame
Columns: [contact_id, relationship, channel]
Index: []

In [86]:
df['user_id'].sort_values()[0:10]

0       10
1394    10
1393    10
1392    10
1391    10
1390    10
1389    10
1388    10
1387    10
1386    10
Name: user_id, dtype: int64