In [7]:
import pickle
import pandas as pd
from collections import Counter

In [2]:
pet_names_list = pd.read_csv('./pet_names.txt',sep='\n', header=-1)

In [3]:
pet_names_list = pet_names_list[0].str.lower()

In [4]:
pet_names_list.head()

0      adorable
1     alliebear
2         angel
3    angel eyes
4    angel face
Name: 0, dtype: object

In [5]:
all_messages = pd.read_pickle('./all_messages_to_from_pickled')

In [13]:
total = 0
counts = Counter('baby snookums').most_common()
intersection = filter(set(counts.keys).__contains__,pet_names)
for item in intersection:
    total += counts[item]

AttributeError: 'list' object has no attribute 'keys'

In [9]:
all_messages.head()

,user_id,contact_id,relationship,channel,sent_at,message,to_from
0,4,4001,Family,camera,2015-08-15 17:02:58.883,,False
1,4,14465,General,camera,2015-08-15 17:02:58.883,,False
2,6,16988,Friend,camera,2013-11-12 22:00:18.000,,False
3,6,16988,Friend,camera,2014-10-20 13:05:25.292,,False
4,6,16988,Friend,camera,2015-05-15 22:35:14.460,,False

In [8]:
for pet_name in pet_names_list:
    pet_name_count = all_messages.message.str.contains(pet_name)

KeyboardInterrupt:

In [ ]:
for x in pet_names_list:
    all_messages[x] = all_messages.message.str.contains(x)

In [25]:
all_messages.head()

,user_id,contact_id,relationship,channel,sent_at,message,to_from,adorable,alliebear,angel
0,4,4001,Family,camera,2015-08-15 17:02:58.883,,False,False,False,False
1,4,14465,General,camera,2015-08-15 17:02:58.883,,False,False,False,False
2,6,16988,Friend,camera,2013-11-12 22:00:18.000,,False,False,False,False
3,6,16988,Friend,camera,2014-10-20 13:05:25.292,,False,False,False,False
4,6,16988,Friend,camera,2015-05-15 22:35:14.460,,False,False,False,False