In [3]:
import pandas as pd
import sys
import os
import numpy as np

import seaborn as sns 
import matplotlib.pyplot as plt

query_df = pd.read_csv("../data/textsentiment.csv")

query_df

,user_id,contact_id,relationship,channel,sent_at,message,positive,negative,neutral,compound,word_count
0,10,35,Ex,text_message,2013-01-28 07:31:44,hey Aldo! I was just thinking about you the ot...,0.000,0.558,0.442,-0.5848,36
1,10,35,Ex,text_message,2013-01-28 07:31:44,it would be great to catch up sometime soon!,0.274,0.070,0.655,0.7604,9
2,10,35,Ex,text_message,2013-01-28 11:42:34,that would be great! my plans are a bit up in ...,0.168,0.039,0.793,0.6213,20
3,10,35,Ex,text_message,2013-01-29 00:16:32,"Great! And yes, same place",0.000,0.000,1.000,0.0000,5
4,10,35,Ex,text_message,2013-01-29 00:18:40,yeah that'd be great!,0.259,0.000,0.741,0.5994,4
5,10,35,Ex,text_message,2013-01-29 00:20:48,great! I'll think about where to go -- I don't...,0.309,0.000,0.691,0.5540,32
6,10,35,Ex,text_message,2013-01-29 00:25:04,Sounds good!,0.333,0.000,0.667,0.4588,2
7,10,35,Ex,text_message,2013-02-04 03:49:52,hey aldo! still up for a bite tonight? was thi...,0.000,0.110,0.890,-0.4753,16
8,10,35,Ex,text_message,2014-02-10 04:08:42,hey aldo! thought of you the other day and the...,0.162,0.091,0.747,0.4036,35
9,10,16787,Ex,text_message,2011-05-09 20:07:17,Hey its marcelo! How's your night?,0.000,0.093,0.907,-0.5423,6
10,10,16787,Ex,text_message,2011-05-09 20:09:05,"Just got out of work, sooo tired and ready to ...",0.569,0.137,0.294,0.6597,17
11,10,16787,Ex,text_message,2011-05-09 20:41:12,"Thanks, yes we can do that, I feel like I know...",0.000,1.000,0.000,-0.0772,16
12,10,16787,Ex,text_message,2011-05-09 20:41:38,Which could be a good thing I don't know haha,1.000,0.000,0.000,0.4019,10
13,10,16787,Ex,text_message,2011-05-09 20:42:52,:),0.000,0.000,1.000,0.0000,1
14,10,16787,Ex,text_message,2011-05-09 20:45:17,I read a your profile but was a little confuse...,0.000,0.000,1.000,0.0000,26
15,10,16787,Ex,text_message,2011-05-09 20:46:32,"My bad, of course!",0.000,0.288,0.712,-0.6690,4
16,10,16787,Ex,text_message,2011-05-09 21:44:47,I'm from queens! Haha I got to school for fash...,0.000,0.000,1.000,0.0000,26
17,10,16787,Ex,text_message,2011-05-09 21:47:35,I've worked a couple shows not done many shoot...,0.000,0.000,1.000,0.0000,30
18,10,16787,Ex,text_message,2011-05-09 21:47:55,Program to get a foundation in fashion and sta...,1.000,0.000,0.000,0.2263,12
19,10,16787,Ex,text_message,2011-05-09 21:51:25,Yeah definitely I'm thinking of doing an inter...,1.000,0.000,0.000,0.2263,16
20,10,16787,Ex,text_message,2011-05-09 22:03:13,"Busy man! Architecture school, you must be ver...",0.474,0.000,0.526,0.2023,9
21,10,16787,Ex,text_message,2011-05-09 22:04:52,"Haha, where doy ou do to school?",0.275,0.000,0.725,0.2263,7
22,10,16787,Ex,text_message,2011-05-09 22:07:25,Oh columbia! I live on the uws actually. I rea...,1.000,0.000,0.000,0.2263,30
23,10,16787,Ex,text_message,2011-05-09 22:10:01,"That sounds so nice just up and leaving, are y...",0.000,0.000,1.000,0.0000,21
24,10,16787,Ex,text_message,2011-05-09 22:12:31,"You're very optimistic, I'm imagining that I w...",0.000,0.000,1.000,0.0000,24
25,10,16787,Ex,text_message,2011-05-09 22:15:43,"Definitely, either way I'm looking foward to h...",0.655,0.000,0.345,0.2263,19
26,10,16787,Ex,text_message,2011-05-09 22:21:04,Okk night! :),0.000,0.000,1.000,0.0000,3
27,10,16787,Ex,text_message,2011-05-09 22:21:10,Okk night! :),0.206,0.000,0.794,0.0772,3
28,10,16787,Ex,text_message,2011-05-10 17:53:25,"Hey there, its going pretty well, I'm currentl...",1.000,0.000,0.000,0.2263,23
29,10,16787,Ex,text_message,2011-05-10 17:56:56,Aw I'd love to :) can I bring a friend?,0.000,0.000,1.000,0.0000,10
...,...,...,...,...,...,...,...,...,...,...,...
245603,12220,32667,Ex,text_message,2016-07-04 16:49:08,He used to have two moms üë≠,NaN,NaN,NaN,NaN,7
245604,12220,32667,Ex,text_message,2016-07-04 16:49:26,More like üëØ,NaN,NaN,NaN,NaN,3
245605,12220,32667,Ex,text_message,2016-07-04 16:50:08,Same,NaN,NaN,NaN,NaN,1
245606,12220,32667,Ex,text_message,2016-07-04 16:50:45,NaN,NaN,NaN,NaN,NaN,1
245607,12220,32667,Ex,text_message,2016-07-04 16:50:46,Yes,NaN,NaN,NaN,NaN,1
245608,12220,32667,Ex,text_message,2016-07-04 16:53:47,I think Frankie follows her,NaN,NaN,NaN,NaN,5
245609,12220,32667,Ex,text_message,2016-07-04 16:54:30,http://instagram.com/myfriendfrankie,NaN,NaN,NaN,NaN,1
245610,12220,32667,Ex,text_message,2016-07-04 16:56:20,BBQ in a bit,NaN,NaN,NaN,NaN,4
245611,12220,32667,Ex,text_message,2016-07-04 16:56:34,I was supposed to go running and the someone s...,NaN,NaN,NaN,NaN,12
245612,12220,32667,Ex,text_message,2016-07-04 16:56:54,I know,NaN,NaN,NaN,NaN,2
245613,12220,32667,Ex,text_message,2016-07-04 16:57:25,I really want a hot dog and sour cream and oni...,NaN,NaN,NaN,NaN,12
245614,12220,32667,Ex,text_message,2016-07-04 16:57:34,Halfway in the gear,NaN,NaN,NaN,NaN,4
245615,12220,32667,Ex,text_message,2016-07-04 16:58:37,I have the top half on! And granny undies (whi...,NaN,NaN,NaN,NaN,19
245616,12220,32667,Ex,text_message,2016-07-04 17:00:27,No way man! I already gave you quite the visual.,NaN,NaN,NaN,NaN,10
245617,12220,32667,Ex,text_message,2016-07-04 17:00:54,Duh.,NaN,NaN,NaN,NaN,1
245618,12220,32667,Ex,text_message,2016-07-04 17:01:23,You're hilarious.,NaN,NaN,NaN,NaN,2
245619,12220,32667,Ex,text_message,2016-07-04 17:02:19,What is happening?!,NaN,NaN,NaN,NaN,3
245620,12220,32667,Ex,text_message,2016-07-04 17:05:12,Do they have underpants?!?!,NaN,NaN,NaN,NaN,4
245621,12220,32667,Ex,text_message,2016-07-04 17:07:23,That's so deep,NaN,NaN,NaN,NaN,3
245622,12220,32667,Ex,text_message,2016-07-04 17:07:50,This store looks terrifying.,NaN,NaN,NaN,NaN,4
245623,12220,32667,Ex,text_message,2016-07-04 17:19:14,At least we still have dance cards.,NaN,NaN,NaN,NaN,7
245624,12220,32667,Ex,text_message,2016-07-04 17:22:12,‚ò∫Ô∏è,NaN,NaN,NaN,NaN,1
245625,12220,32667,Ex,text_message,2016-07-04 17:22:43,Ok I'm going running! Later friend. I'll keep ...,NaN,NaN,NaN,NaN,15
245626,12220,32667,Ex,text_message,2016-07-04 17:23:33,Country life.,NaN,NaN,NaN,NaN,2
245627,12220,32667,Ex,text_message,2016-07-05 11:43:42,NaN,NaN,NaN,NaN,NaN,1
245628,12220,32667,Ex,text_message,2016-07-05 11:44:45,NaN,NaN,NaN,NaN,NaN,1
245629,12220,32667,Ex,text_message,2016-07-05 11:44:45,For scale,NaN,NaN,NaN,NaN,2
245630,12220,32667,Ex,text_message,2016-07-05 11:44:58,NaN,NaN,NaN,NaN,NaN,1
245631,12220,32667,Ex,text_message,2016-07-05 11:44:58,So good,NaN,NaN,NaN,NaN,2
245632,12220,32667,Ex,text_message,2016-07-05 11:46:08,"Yeah. One of our clients wanted a ""coffee tabl...",NaN,NaN,NaN,NaN,11

In [4]:
%matplotlib inline  

query_df.dropna(inplace=True)
#g = sns.pairplot(query_df)
#plt.show()

In [5]:
import resampler

df = pd.read_pickle('../data/result')

    # setup pandas dataframe. It's not necessary, so replace this with what ever data source you have.

    # TODO split off dataframe by partner type

b = [len(str(x).split()) for x in df['message']]
df['word_count'] = b

df = df[df['relationship'] == "Ex"]

    #TODO make sure the analysis starts at 0, i.e. remove [1:]
    
#new_df = resampler.resampler_dataframe(df, "M")

#new_df.dropna(inplace=True)
#s = sns.pairplot(new_df, vars=["message_count","message_count_reciprocity","sentiment_pos","sentiment_neg","sentiment_neu","sentiment_comp","sentiment_pos","sentiment_reciprocity", "word_count","word_count_reciprocity"])
#plt.show()

In [11]:
list_df=[]
unique_contacts = df['contact_id'].unique()
for unique_contact in unique_contacts:
    sub_df = df[df['contact_id'] == unique_contact]        
    is_user = sub_df["to_from"].iloc[0]
    time = sub_df["sent_at"].iloc[0]
    list_times= []
                                
    for _, row in df.iterrows():
        time_diff = np.nan
        if row["to_from"]!=is_user:
            time_diff = time - row["sent_at"]
        is_user = row["to_from"]
        time = row["sent_at"]
        list_times.append(time_diff)
    sub_df['time_reponse'] = list_times
    list_df.append(sub_df)

result = pd.concat(list_df)
result.head()

ValueError: Length of values does not match length of index