In [1]:
import sys
sys.path.append('../sentiment_analysis')

# This is another way of doing the above, not sure which is better
sys.path.insert(0, '../mining')

from nltk import tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from vader_sentiment_analysis import SentimentAnalyser
import pandas as pd

import connector
import query

/home/alexander/anaconda/lib/python2.7/site-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [2]:

sql_query = """SELECT * FROM all_msgs_tf;"""

dbconnection = connector.ConnectDB()
conn = dbconnection.get_connection()
q = query.Query(conn, sql_query)
query_list = q.get_query_list()
query_df = q.get_query_dataframe()
#q.write_df_to_csv()

#query_df['body'][6:16]
#query_df.head(22)

In [3]:
q.write_df_to_csv()

In [28]:
query_df[(query_df['user_id'] == 6257) & (query_df['contact_id'] == 11400)][40:43]

,user_id,contact_id,relationship,channel,sent_at,message,to_from
1248724,6257,11400,Partner,instagram,2014-09-25 06:17:37,#latergram from LDN. God JP is a stunner.,False
1248725,6257,11400,Partner,instagram,2014-10-09 10:22:09,#Repost from @moogz79 \rSipping my 'latte' Noo...,False
1248726,6257,11400,Partner,facebook,2014-11-16 09:33:53,,False

In [ ]:
# problem appears to be with how we write to CSV
# going to write this subsection with the problem line to csv in various ways
# then read it back with .read_csv
# 1) encoding = 'utf-8'

In [29]:
query_df_subset = query_df[(query_df['user_id'] == 6257) & (query_df['contact_id'] == 11400)][40:43]

In [30]:
query_df_subset

,user_id,contact_id,relationship,channel,sent_at,message,to_from
1248724,6257,11400,Partner,instagram,2014-09-25 06:17:37,#latergram from LDN. God JP is a stunner.,False
1248725,6257,11400,Partner,instagram,2014-10-09 10:22:09,#Repost from @moogz79 \rSipping my 'latte' Noo...,False
1248726,6257,11400,Partner,facebook,2014-11-16 09:33:53,,False

In [31]:
query_df_subset.to_csv('no_options.csv')

In [32]:
query_df_subset.to_csv('encoding=utf8.csv', encoding='utf-8')

In [35]:
query_df_subset.to_csv('encoding_and_index.csv', encoding='utf-8', index=False)

In [36]:
query_df_subset.to_csv('encoding_and_index_and_quoting.csv', encoding='utf-8', index=False, quoting=3)

In [48]:
pd.read_csv('no_options.csv', quoting=3)

,Unnamed: 0,user_id,contact_id,relationship,channel,sent_at,message,to_from
0,1248724,6257,11400,Partner,instagram,2014-09-25 06:17:37,#latergram from LDN. God JP is a stunner.,False
1,1248725,6257,11400,Partner,instagram,2014-10-09 10:22:09,#Repost from @moogz79,NaN
2,Sipping my 'latte' Noosa style #cutesippingfac...,False,NaN,NaN,NaN,NaN,NaN,NaN
3,1248726,6257,11400,Partner,facebook,2014-11-16 09:33:53,NaN,False

In [47]:
pd.read_csv('encoding=utf8.csv', quoting=3)

,Unnamed: 0,user_id,contact_id,relationship,channel,sent_at,message,to_from
0,1248724,6257,11400,Partner,instagram,2014-09-25 06:17:37,#latergram from LDN. God JP is a stunner.,False
1,1248725,6257,11400,Partner,instagram,2014-10-09 10:22:09,#Repost from @moogz79,NaN
2,Sipping my 'latte' Noosa style #cutesippingfac...,False,NaN,NaN,NaN,NaN,NaN,NaN
3,1248726,6257,11400,Partner,facebook,2014-11-16 09:33:53,NaN,False

In [46]:
pd.read_csv('encoding_and_index.csv', quoting=3)

,user_id,contact_id,relationship,channel,sent_at,message,to_from
0,6257,11400,Partner,instagram,2014-09-25 06:17:37,#latergram from LDN. God JP is a stunner.,False
1,6257,11400,Partner,instagram,2014-10-09 10:22:09,#Repost from @moogz79,NaN
2,Sipping my 'latte' Noosa style #cutesippingfac...,False,NaN,NaN,NaN,NaN,NaN
3,6257,11400,Partner,facebook,2014-11-16 09:33:53,NaN,False

In [45]:
pd.read_csv('encoding_and_index_and_quoting.csv', quoting=3)

,user_id,contact_id,relationship,channel,sent_at,message,to_from
0,6257,11400,Partner,instagram,2014-09-25 06:17:37,#latergram from LDN. God JP is a stunner.,False
1,6257,11400,Partner,instagram,2014-10-09 10:22:09,#Repost from @moogz79,NaN
2,Sipping my 'latte' Noosa style #cutesippingfac...,False,NaN,NaN,NaN,NaN,NaN
3,6257,11400,Partner,facebook,2014-11-16 09:33:53,NaN,False

In [49]:
import pickle

In [50]:
query_df.to_pickle('pickle_me_up')

In [51]:
query_df_subset.to_pickle('pickle_me_up')

In [53]:
pd.read_pickle('pickle_me_up')

,user_id,contact_id,relationship,channel,sent_at,message,to_from
1248724,6257,11400,Partner,instagram,2014-09-25 06:17:37,#latergram from LDN. God JP is a stunner.,False
1248725,6257,11400,Partner,instagram,2014-10-09 10:22:09,#Repost from @moogz79 \rSipping my 'latte' Noo...,False
1248726,6257,11400,Partner,facebook,2014-11-16 09:33:53,,False

In [54]:
query_df.shape

(2859665, 7)

In [55]:
query_df.to_pickle('all_messages_to_from_pickled')

In [57]:
sentiment_analyser = SentimentAnalyser()

In [58]:
result = sentiment_analyser.run_vader(query_df, 'message')

In [59]:
result.to_pickle('result')

In [2]:
checking_pickle = pd.read_pickle('result')

In [3]:
checking_pickle.head()

,user_id,contact_id,relationship,channel,sent_at,message,to_from,positive,negative,neutral,compound
0,4,4001,Family,camera,2015-08-15 17:02:58.883,,False,0,0,0,0
1,4,14465,General,camera,2015-08-15 17:02:58.883,,False,0,0,0,0
2,6,16988,Friend,camera,2013-11-12 22:00:18.000,,False,0,0,0,0
3,6,16988,Friend,camera,2014-10-20 13:05:25.292,,False,0,0,0,0
4,6,16988,Friend,camera,2015-05-15 22:35:14.460,,False,0,0,0,0